<h1>
  <%= link_to 'â† Home', tickets_path %> | Ticket <%= @ticket.request_number %>
</h1>

<div id="map" style="width: 99vw; height: 85vh"
     data-polygon="<%= @ticket.digsite_info.coordinates[0].as_json %>"></div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const polygonData = JSON.parse(document.getElementById('map').dataset.polygon)
    const map = L.map('map').setView(polygonData[0], 5)

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map)

    const polygon = L.polygon(polygonData).addTo(map)
  })
</script>
