<h1>
  Ticket <%= @ticket.request_number %>
</h1>

<div id="map" style="width: 99vw; height: 85vh"
     data-polygon="<%= @ticket.digsite_info.coordinates[0].as_json %>"></div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const map = L.map('map').setView([-81, 32], 5)

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© OpenStreetMap contributors'
    }).addTo(map)

    const polygonData = JSON.parse(document.getElementById('map').dataset.polygon)
    const polygon = L.polygon(polygonData).addTo(map)
  })
</script>
